version: "3.9"
services:
    jenkins-docker:
        container_name: jenkins-docker
        privileged: true
        network_mode: tooling_app_network
        environment:
            - DOCKER_TLS_CERTDIR=/certs
        volumes:
            - 'jenkins-docker-certs:/certs/client'
            - 'jenkins-data:/var/jenkins_home'
        ports:
            - "2376:2376"
        image: "docker:dind"
        command: --storage-driver=overlay2

    myjenkins-blueocean:
        container_name: jenkins-blueocean
        network_mode: tooling_app_network
        environment:
            - 'DOCKER_HOST=tcp://docker:2376'
            - DOCKER_CERT_PATH=/certs/client
            - DOCKER_TLS_VERIFY=1
        ports:
            - "8080:8080"
            - "50000:50000"
        expose:
            - '8080'
        volumes:
            - "jenkins-data:/var/jenkins_home"
            - "jenkins-docker-certs:/certs/client:ro"
        image: "myjenkins-blueocean:1.1"

   #  localtunnel:
   #      build:
   #        context: ./localtunnel
   #        dockerfile: Dockerfile
   #      links:
   #          - myjenkins-blueocean
   #      command: --local-host myjenkins-blueocean --port 80 --subdomain docker-projects

    volumes:
      jenkins-docker-certs:
      jenkins-data: